.header {
  background: #0099ec;
  height: 54px;
}

.inner {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
  position: relative;
}

.logo {
  float: left;
  height: 100%;
}

.logo > span {
  background: url('!url-loader!images/sp_common.png') no-repeat 0 0;
  color: transparent;
  display: inline-block;
  font-size: 1px;
  height: 12px;
  margin-top: 22px;
  overflow: hidden;
  text-indent: -100px;
  vertical-align: top;
  width: 55px;
}
