.main {

  /* border-top: 1px solid #e6e6e6; */
  position: relative;
  z-index: 2;
}

.content {
  margin: 0 auto;
  max-width: 1300px;
  min-width: 320px;
  padding: 10px;
}

.box-editor,
.box-result {
  padding: 10px;
}

.editor,
.result {
  margin-top: 10px;
  min-height: 168px;
  padding: 14px 32px 8px 14px;
}

.result {
  background: #fafafa;
  border: 1px solid #e3e3e4;
}

.result > div {
  cursor: text;
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
  min-height: 111px;
  outline: none;
  word-break: break-word;
  word-wrap: break-word;
}

/* ########## 599px 이하 ########## */
@media (max-width: 599px) {
  color: #000;
}

/* ########## 600px 이상 ~ 767px 이하 ########## */
@media (min-width: 600px) and (max-width: 767px) {
  color: #fff;
}

/* ########## 768px 이상 ########## */
@media (min-width: 768px) {

  .content::after {
    clear: both;
    content: '';
    display: block;
  }

  .box-editor,
  .box-result {
    float: left;
    width: 50%;
  }
}

/* ########## 1040px 이상 ########## */
@media (min-width: 1040px) {
  color: #eee;
}
