body {
  overflow: scroll;
  overflow-x: auto;
}

html,
body {
  height: 100%;
}

body,
button,
input,
select,
table,
textarea {
  color: #333;
  font: 12px 'Helvetica', 'simsun', 'nanumgothic', '나눔고딕', 'dotum', 'sans-serif';
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
th,
textarea,
ul {
  margin: 0;
  padding: 0;
}

button,
input[type='checkbox'] {
  outline: none;
}

a {
  cursor: pointer;
}

/*
 * btn
 */
.btn {
  background: #69748a;
  border: 1px solid #53687c;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  padding: 0 23px;
}

.btn:hover {
  background: #767c98;
}

.btn-primary {
  background: #0099ec;
  border: 1px solid #0099ec;
}

.btn-primary:hover {
  background: #00adfc;
  border-color: #00adfc;
}

.btn-green {
  background: #00c73c;
  border-color: #00bd39;
}

.btn-green:hover {
  background: #00d243;
  border-color: #00c740;
}

/**
 * btn-group
 */
.btn-group {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.btn-group > .btn {
  margin-left: -1px;
}

.btn-group > .btn:first-child {
  margin-left: 0;
}

/**
 * btn-toolbar
 */
.btn-toolbar {
  display: flex;
  justify-content: flex-start;
}

.btn-toolbar.justify {
  justify-content: space-between !important;
}
